@CHARSET "ISO-8859-1";

html.busy, html.busy * {  
  cursor: wait !important;  
}

body.busy, body.busy * {  
  cursor: wait !important;  
}
a .common:hover {
  cursor: pointer;  
}

.not-active {
   pointer-events: none;
   cursor: default;
   color: grey;
}  

.titleText {
	font-weight : bold;
	color : blue;
	bold : true;
}

.command {
	text-decoration: underline;
}
	
.ui-jqgrid .ui-jqgrid-htable th div {
	font-size:0.7em;
}

.ui-jqgrid tr.jqgrow td {
	font-size:0.8em;
}

